<div class="row">
    <div class="col-md-5">
     
      <div class="mat-elevation-z8 full-width-table">
        <mat-table #table class="mat-cell" matSort aria-label="Elements">
<!--           
          <ng-container  matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.employee_name}}</mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="Age">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Age</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.employee_age | number}}</mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="Salary">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Salary</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.employee_salary  | customcurrency }}</mat-cell>
          </ng-container> -->

          <div *ngFor="let r of columnsNames" >
            <ng-container [matColumnDef]=r>
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{ r }}</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row[r] | customcurrency}}</mat-cell>
            </ng-container>
          </div>
      
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
              <div>
              <button mat-icon-button (click)="addDialog()" mat-raised-button matTooltip="Add Employee">
                <mat-icon aria-label="Add">add</mat-icon>
              </button>
              <mat-form-field class="marginleft">
                <input (keyup) = "search($event.target.value)" matInput placeholder="Search here...">
              </mat-form-field>
            </div>
            </mat-header-cell>
      
            <mat-cell *matCellDef="let row">
              <button mat-icon-button [matMenuTriggerFor]="menu"  aria-label="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" >  
                <button mat-menu-item (click)="editDialog(row)">
                  <mat-icon aria-label="Edit">edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button mat-menu-item (click)="deleteEmployee(row.id)">
                  <mat-icon aria-label="Delete">delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      
        <mat-paginator #paginator
            [length]="dataSource?.data.length"
            [pageIndex]="0"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 50, 100]">
        </mat-paginator>
        
      </div>
      
      

    </div>
</div>
